*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  scroll-margin-top:50px;
}
:root{
  --bg-color:rgb(251,239,229);
  --main-color:rgb(255, 68, 36);
  --second-color:rgb(247, 114, 20);
  --main-border:rgb(234, 220, 209);
  --text-alter-color:#868e96;
  --yellow-btn-color:rgb(255,231,37);
  --container-color: rgb(255, 247, 247);
}

html{
  font-size: 62.5%;
}
body{
  font-family:Roboto;
  font-size: 1.6rem;
}
a{
  text-decoration: none;
  color: black;
}
main{
  display: grid;
  grid-template-columns: 1fr;
}
.container{
  max-width:100rem;
  margin: 0 2.5rem;
}
header{
  position:fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color:var(--bg-color);
  height:5rem;
  display: flex;
  justify-content: center;
  z-index: 100;
}
nav{
  flex: 1;
  height: 100%;
  display: flex;
  align-items: center;
  border-bottom: 0.25rem solid var(--main-border);
}
.left-container{
  flex: 1;
  display: flex;
  align-items: center;
}
.title{
  color: white;
  font-weight: 500;
  background-color: black;
  border: 0.15rem solid var(--second-color);
  cursor:default;
  height: 2.2rem;
  width:8.3rem;
  font-size: 1.55rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
ul{
  list-style: none;
  display: flex;
  align-items: center;
  gap:1.3rem;
  font-size: 1.3rem;
}
ul li{
  cursor: pointer;
  transition: color 0.15s ease;
}
ul li a:hover{
  color:var(--main-color);
}
.right-container{
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: right;
}
.sign-up-btn{
  border: none;
  background-color: black;
  color: white;
  height:3rem;
  width:8rem;
  display:flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
  cursor:pointer;
}
.sign-up-btn:hover{
  filter: brightness(90%);
}
/*mobile hamburger icon*/
.hamburger-icon{
  position:fixed;
  top:15px;
  right: 25px;
  height: 1.6rem;
  width: 2rem;
  display:none;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  z-index:102;
}
.line{
  width:100%;
  height: 0.2rem;
  background-color: black;
  transition: transform 0.5s ease , opacity 0.3s ease;
}
.hamburger-icon.clicked .line-1{
  transform: rotate(-45deg) translate(-30%,200%);
}
.hamburger-icon.clicked .line-2{
  opacity: 0;
}
.hamburger-icon.clicked .line-3{
  transform: rotate(45deg) translate(-30%,-200%);
}
/*sidebar*/
.sidebar{ 
  position: fixed;
  top: 0px;
  bottom: 0px;
  background-color: white;
  right: 0px;
  z-index:101;
  width: 100%;
  max-width:0rem;
  display:none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap:3rem;
  overflow: hidden;
  transition:max-width 0.5s ease;
}
.sidebar.show{
  max-width:35rem;
}
.sidebar ul{
  flex-direction: column;
  gap: 2rem;
  font-size: 1.45rem;
}
.home-section{
  background-color: var(--bg-color);
  margin-top: 5rem;
}
.home-section,
.bikes-section,
.destination-section,
.reviews-section{
  display: flex;
  justify-content: center;
}
.home-section-content,
.bikes-section-content,
.destination-section-content,
.reviews-section-content{
  flex: 1;
  display: flex;
  flex-direction: column;
}
/* home section  */
.harley-title{
  display: flex;
  align-items: center;
  justify-content: center;
}
.harley-title > div{
  margin: 1rem 0rem 1.5rem 0rem;
  font-size: 5rem;
  font-weight:500;
  font-family:Racing sans one;
  background-color: white;
  line-height:1;
}
.home-bike-container{
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
}
.left-info-container{
  display: flex;
  flex-direction: column;
  gap:1rem;
}
.box-info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap:0.5rem;
  font-size: 1.3rem;
  font-weight: 500;
}
.box-info:nth-child(1),
.box-info:nth-child(2){
  padding:0rem 0rem 1rem 0rem;
}
.spec-info{
  font-size: 1.5rem;
  color: var(--second-color);
}
.border-seperator{
  border-bottom: 0.2rem solid var(--main-border);
}
.bike-image{
  width: 100%;
  max-width:60rem;
}
.helmet-container{
  width: 100%;
  max-width:10rem;
  gap: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content:center;
  position: relative;
}
.helmet-container::after{
  position: absolute;
  top:30%;
  content: '';
  height:80%;
  width: 140%;
  border: 0.2rem solid var(--main-border);
}
.helmet-btn{
  display: flex;
  align-items: center;
  border: none;
  background-color: var(--yellow-btn-color);
  padding:0.2rem 0rem;
  width:7.2rem;
  font-size: 1.25rem;
  display: flex;
  align-items: center;
  justify-content: center; 
  cursor: pointer;
}
.helmet-container img{
  width: 100%;
  object-fit:contain;
  z-index: 2;
}
.helmet-image-container img{
  width: 100%;
  height: 100%;
}
.helmet-button{
  display: flex;
  align-items: center;
  background-color:var(--yellow-btn-color);
  width:8.7rem;
  height: 2.3rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
}
.helmet-button:hover{
  filter: brightness(97%);
}
.home-btn-container{
  display: flex;
  justify-content: center;
  gap:1.5rem;
  height:3rem;
  margin-bottom: 2rem;
}
.find-dealer-btn,
.test-ride-btn{
  display: flex;
  align-items: center;
  justify-content: center;
  gap:0.5rem;
  font-weight: 500;
  font-size: 1.4rem;
  cursor: pointer;
  border: none;
}
.find-dealer-btn{
  background-color: var(--yellow-btn-color);
  width:15rem;
}
.test-ride-btn{
  background-color: white;
  width: 13rem;
}
.find-dealer-btn:hover,
.test-ride-btn:hover{
  filter: brightness(97%);
}
.home-btn-container i{
  font-size:1.8rem;
}
/* bike section  */
.bikes-section{
  background-color:white;
  padding:3rem 0rem;
}
.last-minute-text{
  color: var(--second-color);
}
.bike-products-container{
  margin-top:2rem;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  justify-items: center;
  gap:2.5rem;
  cursor: default;
}
.bike-product-container{
  padding:1rem;
  display: flex;
  flex-direction: column;
  box-shadow:0px 0px 3px 0px rgba(0,0,0,0.3);
  border-radius: 0.3rem;
  transition: transform 0.15s ease;
  width: 100%;
  max-width:28rem;
  transform: translateX(-10rem);
  opacity: 0;
}
.bike-product-container:hover{
  transform: scale(1.01);
}
.free-cancellation-text{
  color:var(--second-color);
  font-weight: 500;
  background-color:var(--bg-color);
  width: fit-content;
  padding: 0.2rem 1rem;
  border-radius: 100vw;
  font-size: 1.3rem;
}
.bike-product-image{
  width: 100%;
  aspect-ratio: 1;
}
.bike-product-info-container{
  display: flex;
}
.bike-product-info-container > div:nth-child(1){
  flex: 4;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-weight: 500;
}
.bike-product-name{
  font-size: 1.7rem;
}
.adventure-text{
  color: var(--text-alter-color);
  font-size: 1.2rem;
  text-transform: uppercase;
}
.bike-product-info-container > div:nth-child(2){
  flex: 1;
  display: flex;
  align-items: center;
}
.bike-rent-info-container{
  display: flex;
}
.price{
  color: var(--second-color);
  font-weight:bold;
  font-size: 1.8rem;
  line-height: 1;
}
.time{
  margin-top: auto;
  font-size:1.2rem;
  color: var(--text-alter-color);
}
.book-bike-btn{
  border:none;
  font-weight:bold;
  color: white;
  background-color: var(--second-color);
  padding: 1rem 0rem;
  margin-top: 1rem;
  transition: filter 0.15s ease;
  cursor: pointer;
}
.book-bike-btn:hover{
  filter: brightness(97%);
}
.one-kind-text{
  color: var(--second-color);
  font-weight:bolder;
  text-align:center;
  margin-top:3rem;
  font-size: 1.45rem;
}
.slogan-text{
  text-align: center;
}
.bike-section-bottom-container{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap:4rem;
  justify-items: center;
  margin-top:3rem;
}
.bike-section-bottom-container > div{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:1.5rem;
  cursor:default;
  width: 100%;
  max-width: 40rem;
}
.icon-container{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4rem;
  aspect-ratio: 1;
  font-size: 2.1rem;
  background-color:var(--bg-color);
  border-radius: 50%;
}
.icon-container i{
  color: var(--second-color);
}
.description-text{
  text-align:center;
  font-size: 1.43rem;
}
/* destination  */
.destination-section{
  background-color:var(--container-color);
  padding:2rem 0rem 3rem 0rem;
}
.destination-section-content h4{
  color: var(--second-color);
}
.destination-section-content h1{
  margin-bottom:2.5rem;
}
.parent-container{
  display:flex;
  gap:2rem;
  overflow-x:hidden; 
  margin-bottom: 2rem;
}
.parent-container::-webkit-scrollbar{
  display:none;
}
.child{
  flex-shrink:0;
  width:23.5%;
  max-height:35rem;
  display:flex;
  transition:transform 0.3s ease , translate 0.3s ease;
  cursor: pointer;
  position: relative;
}
.child::after{
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(to bottom, transparent 50%, #000000aa 90%);
}
.child:hover{
  translate: 0rem -0.5rem;
}
.child img{
  width: 100%;
  object-fit: cover;
}
.city-name-container{
  position: absolute;
  bottom: 0.5rem;
  left: 1rem;
  color: white;
  z-index: 1;
}
.city-name-container > div:nth-child(1){
  font-weight:bold;
  font-size: 1.4rem;
}
.city-name-container > div:nth-child(2){
  font-size: 1.2rem;
}
.slide-info-container{
  display: flex;
  align-items: center;
  justify-content: center;
}
.dot-notation-container{
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.dot{
  width: 0.6rem;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color:rgb(160, 160, 160);
  transition: transform 0.15s ease , background-color 0.15s ease;
  cursor: pointer;
}
.active{
  transform : scale(1.6);
  background-color:rgb(65, 143, 246);
}
/* reviews section  */
.reviews-section{
  padding: 3rem 0rem 2rem 0rem;
  background-color: white;
}
.testimonials-text{
  text-align: center;
  font-weight:bold;
  font-size: 1.7rem;
  color: var(--second-color);
}
.reviews-section-content h1{
  text-align: center;
  margin-bottom:4rem;
}
.reviews-container{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap:1.2rem;
  justify-items: center;
}
.reviews-container > div{
  display: flex;
  flex-direction: column;
  padding:2rem 1rem;
  box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
  border-radius: 0.3rem;
  gap:1.5rem;
  transition: scale 0.15s ease;
  max-width:40rem;
}
.reviews-container > div:hover{
  scale: 1.01;
}
.review-icon-container{
  display: flex;
  gap: 0.5rem;
  font-size:2rem;
  color: var(--yellow-btn-color);
}
.review-text{
  font-size: 1.5rem;
  line-height: 1.7rem;
}
.review-user-container{
  display: flex;
  align-items: center;
  gap:0.7rem;
}
.review-user-container img{
  width: 5rem;
  aspect-ratio: 1;
  object-fit: cover;
  border-radius: 50%;
  border: 0.25rem solid var(--yellow-btn-color);
}
.review-user-info > div:nth-child(1){
  font-weight:500;
  font-size: 1.7rem;
}
.review-user-info > div:nth-child(2){
  font-size: 1.35rem;
  color: var(--text-alter-color);
}
footer{
  background-color: black;
  display: flex;
  flex-direction: column;
  gap:5rem;
  color: white;
  padding: 3rem 2rem;
  cursor:default;
}
footer > div:nth-child(1){
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(4,1fr);
  gap:1.5rem;
}
.footer-box{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  /* background-color: blue; */
}
.site-name-footer{
  font-size:1.55rem;
  font-weight: 500;
  border: 0.15rem solid var(--second-color);
  width: fit-content;
  padding: 0.1rem 0.2rem;
}
.slogan-footer{
  font-size:1.5rem;
}
.footer-icons-container{
  display: flex;
  gap:1rem;
}
.footer-icon{
  display: flex;
  align-items: center;
  justify-content: center;
  width:2.8rem;
  aspect-ratio: 1;
  border: 0.12rem solid var(--text-alter-color);
  font-size: 1.7rem;
  cursor: pointer;
}
.footer-box h3{
  letter-spacing:0.15rem;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
  font-size: 1.65rem;
}
.footer-text{
  font-size: 1.45rem;
  cursor: pointer;
  transition: filter 0.15s ease;
}
.footer-text:hover{
  filter: brightness(90%);
}
footer > div:nth-child(2){
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  font-size: 1.5rem;
}
.bike-rent-llc{
  font-size:1.4rem;
}
/*media queries*/
@media (max-width:910px){
 .bike-product-name{
  font-size: 1.5rem;
 }
 .adventure-text{
  font-size: 1.15rem;
 }
 .price{
  font-size: 1.7rem;
 }
 .time{
  font-size: 1.1rem;
 }
}
@media(max-width:900px){
  .home-bike-container{
    flex-direction: column;
  }
  .bike-image{
    order: 1;
  }
  .left-info-container{
    order: 2;
  }
  .helmet-container{
    order: 3;
    margin-bottom:4rem;
  }
  .last-minute-text{
    font-size: 1.5rem;
  }
  .rent-text{
    font-size:2rem;
  }
}
@media(max-width:850px){
  .bike-product-name{
    font-size: 1.3rem;
   }
   .adventure-text{
    font-size: 1.1rem;
   }
   .price{
    font-size: 1.5rem;
   }
}
@media (max-width:800px){
  .bike-products-container{
    grid-template-columns: repeat(2,1fr);
  }
  .bike-product-name{
    font-size: 1.8rem;
   }
   .adventure-text{
    font-size: 1.3rem;
   }
   .price{
    font-size:2.1rem;
   }
   .time{
    font-size: 1.3rem;
   }
}
@media (min-width:480px) and (max-width:900px){
  .left-info-container{
    flex-direction:row;
  }
  .box-info:nth-child(1),
  .box-info:nth-child(2){
    padding:0rem 1rem 0rem 0rem;
  }
  .border-seperator{
    border-bottom: none;
    border-right: 0.2rem solid var(--main-border);
  }
}
@media (max-width:700px){
  .child{
    width:50%;
  }
}
@media (max-width:675px){
  .bike-section-bottom-container{
    grid-template-columns: repeat(1,1fr);
  }
}
@media (max-width:600px){
  .desktop-page-links,
  .sign-up-btn-desktop{
    display: none;
  }
  .hamburger-icon,
  .sidebar{
    display:flex;
  }
  .last-minute-text{
    font-size: 1.3rem;
  }
  .rent-text{
    font-size:1.8rem;
  }
}
@media (max-width:575px){
  .reviews-container{
    grid-template-columns: repeat(1,1fr);
  }
  footer > div:nth-child(1){
    grid-template-columns: repeat(1,1fr);
    justify-items: start;
  }
}
@media (max-width:530px){
  .bike-product-name{
    font-size: 1.6rem;
   }
   .adventure-text{
    font-size: 1.2rem;
   }
   .price{
    font-size:1.8rem;
   }
}
@media (max-width:500px){
  .child{
    width:100%;
  }
}
@media (max-width:480px){
  .harley-title > div{
    font-size: 4rem;
  }
  .bike-product-name{
    font-size: 1.5rem;
  }
  .adventure-text,
  .time{
    font-size:1rem;
  }
  .price{
    font-size: 1.6rem;
  }
}
@media (max-width:440px){
  .bike-product-name{
    font-size: 1.3rem;
  }
  .adventure-text,
  .time{
    font-size:0.8rem;
  }
  .price{
    font-size: 1.4rem;
  }
}
@media (max-width:400px){
  .bike-products-container{
    grid-template-columns: repeat(1,1fr);
  }
  .bike-product-name{
    font-size: 1.8rem;
  }
  .adventure-text{
    font-size:1.3rem;
  }
  .time{
    font-size: 1.2rem;
  }
  .price{
    font-size: 1.8rem;
  }
}
@media (max-width:350px){
  .harley-title > div{
    font-size: 3.5rem;
  }
}
/* observer styles */
.bike-product-container.show{
  animation: slide-bike 1s forwards ease;
  animation-delay:calc(0.3s * var(--i));
}
@keyframes slide-bike{
  to{
    transform: translateX(0rem);
    opacity: 1;
  }
}